VITE_SUPABASE_URL=https://sqzrvzwyvjeosuvzotja.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_o_anon_key
# Tambien puedes usar esta variable si tienes una anon key clasica:
# VITE_SUPABASE_ANON_KEY=ey...
ODOO_URL=https://tu-instancia.odoo.com
ODOO_DB=base_de_datos_de_odoo_opcional
USER_ODOO=usuario@empresa.com
API_KEY_ODOO=api_key_generada_en_odoo
